# configuration file 

# Model Type
model_type = CRF
mode = train

# Data Files
train_file = conll2000/train.txt
dev_file = conll2000/test.txt
test_file = conll2000/test.txt
template = conll2000/template
cutoff = 0

# Model 
model_file = conll2000/model.standard
binary_model = false	// not yet

# Training setup
estimation = LBFGS-L2	// LBFGS-L2, LBFGS-L1
l2_prior = 4
iter = 100
initialize = PL	
initialize_iter = 0 

# Testing Setup
n_best = 1				
output_file = conll2000/test.pred.out
confidence = false

# Evaluation
f1_score = true
use_bio = true

# Logging
log_file = conll2000/log.txt
log_mode = 2


